[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "libevent"]
	path = Libevent
	url = https://github.com/nmathewson/Libevent
